//
   Created by scottbaron on 12/24/16.
head
    script(src="./../js/bundle.js")
body.dashboard_layout(class="dashboard_backing")
    div(class="dashboard_centering")
        h2.dashboard_title On Draft App Management Console
        h4 #{message}
    div.pure-g
        div.pure-u-4-24
        div.pure-u-16-24(class="dashboard_layout dashboard_content")
            div.pure-u-6-24(class="dashboard_centering")
                a(class="pure-button ondraft_button_primary" href="/dashboard/account-info") Account
            div.pure-u-6-24(class="dashboard_centering")
                a(class="pure-button ondraft_button_primary" href="/dashboard/brewery-info") My Brewery
            div.pure-u-6-24(class="dashboard_centering")
                a(class="pure-button ondraft_button_primary" href="/dashboard/brew-page") The Brews
            div.pure-u-6-24(class="dashboard_centering")
                a(class="pure-button ondraft_button_primary" href="#") Payment Details
        div.pure-u-4-24
    div.logout_btn
        a(class="pure-button" href="/log-out") Sign Out