body {
    background-color: black;
    background-size: cover;
    background-position: center;
}

.log {
    text-align: center;
    border: transparent;
    width: 35%;
    display: inline-block;
    min-height: 700px;
    float: left;
    background-image: url(WoodPatternDark.png);
    background-size: contain;
    border-radius: 5px;
    margin-left: 5%;
}

.Email {
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    border-radius: 5px;
    color:#fff;
    background-color: transparent;
    padding: 5px;
}

.Email:hover, .send:hover {
    border: 2px solid white;
}

.cheers {
    height: 60%;
    display:inline-block;
    margin-right: 5%;
    margin-top: 5%;
    float: right;
    width: 50%;
}

.quote {
    font-size: 25px;
    float: right;
    margin-right: 5%;
    width: 50%;
    color: white;
    display: block;
    text-align:center;
}

input {
    margin: auto;
    width: 55%;
    border: transparent;
}

.space {
    padding-top: 20%;
    padding-bottom: 80%;
    background-color: rgba(0,0,0,0.7);
    min-height: 100%;
}

h2 {
    color: #f85200;
}

.send {
    background-image: url(StainlessSteelOrange.jpg);
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

.confmessage {
color: #ffffff;
    padding: 5%;
}
