.log {
    margin: auto;
    padding: 10%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    border: 2px white solid;
    border-radius: 5px;
    width: 25%;
    height: 50%;
}

.Email, .Password {
    margin-bottom: 5px;
    border: 2px solid white;
    border-radius: 5px;
    color:#fff;
    background-color: transparent;
    padding: 5px;
}

h2 {
    color: rgb(223, 117, 20);;
}

.menu-height-override{
    height: auto;
}

.dashboard_centering {
    margin: auto;
}

.dashboard_layout {
    padding-top: 15px;
    padding-bottom: 10px;
}

.frgtpass, .account {
    margin-bottom: 5px;
    display: block;
}

.login {
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(223, 117, 20);
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}

a {
    color: rgb(223, 117, 20);
    text-decoration: none;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}