.log {
    margin: auto;
    padding: 10%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    border: 2px white solid;
    border-radius: 5px;
    width: 25%;
    height: 50%;
}

.Email, .Password {
    margin-bottom: 5px;
    border: 2px solid white;
    border-radius: 5px;
    color:#fff;
    background-color: transparent;
    padding: 5px;
}

h2 {
    color: rgb(223, 117, 20);
}

.menu-height-override{
    height: auto;
}

#main {
    padding-left: 20px;
    padding-top: 15px;
}

.dashboard_centering {
    text-align: center;
}

.dashboard_layout {
    padding-top: 15px;
    padding-bottom: 10px;
}

.frgtpass, .account {
    margin-bottom: 5px;
    display: block;
}

.login {
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(223, 117, 20);
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}

a {
    color: rgb(223, 117, 20);
    text-decoration: none;
}

/* Modal Main Element */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #1f8dd6;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #1f8dd6;
    color: white;
}

.modal-content-padding{
    margin-top: 15px;
}

.modal-close {
    margin: auto;
    font-size: x-large;
    text-align: right;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}